<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{user.name}}</p>
    <input type="text" id="comment" placeholder="Write your comment...."></input>
    <br>
    <br>
    <p>
        <input type="submit" class="btn btn-primary"></input>
    </p>
</div>